.body-home{
    font-family: arial, Roboto;
    font-size: 12px;
    font-weight: 700;}
.header-home{
    background-color: #EAC926;}
h2{
    font-size: 24px;}
h4{
    font-size: 16px;}
p{
    font-size: 16px;}
.Copyright{
    font-size: 12px;
    color: #ebebeb;}
